/* Stub CSS file for your tinychat app! */

body {
  background-color: #1d2120;
  color: #333;
}

#container {
  padding: 5px;
  float: none;
  margin: 0px auto;
  background-color: #5a5c51;
}

#allmessages {
  margin: 20px;
}

.message {
  border-radius: 20px;
  background-color: #bcd5d1;
  margin: 7px;
  padding: 10px;
}

form {
  margin: 20px;
  padding: 15px;
  background-color: #bcd5d1;
  border-radius: 20px;
}