/* Stub CSS file for your tinychat app! */

body {
    background-color: snow;
    color: #333;
}


#container {
  background-color: red;
  width: 70%;
  padding: 5px;
}

#chat {
  background-color: blue;
  margin: 20px;
  border: 1px solid black;
}
